{% extends 'base.html' %}
{% load static %}
{% block body %}
{% load crispy_forms_tags %}
    <div class="container">
        <div class="card">
            <div class="card-title"><h1>Iniciar sesión</h1></div>
            <form class="form-inicio" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <label class="">Usuario</label>
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Usuario"
                        required
                        autofocus
                        name="username"
                    />
                    <label for="inputPassword" class="">Contraseña</label>
                    <input
                        type="password"
                        id="inputPassword"
                        class="form-control"
                        placeholder="Contraseña"
                        required
                        name='password'
                    />
                <input type="submit" value="Ingresar" class="btn-inicio">
            </form>            
        </div>
    </div>


{% endblock  %}