/*--------------- Indice -----------------*/
/*
    - Fuente
    - Variables
    - Generales
    - Header/Skip navigation
    - Menu Hamburguesa
    - Menu Desktop
    - Container
    - Contact page
    - Footer
    - Media Query
*/
/*--------------- Fuente -----------------*/
/*--------------- Variables -----------------*/
:root{
    --blue: #2364aa;
    --light-gray: #e1e5f2;
    --yellow: #f9fa5f;
    --white: #fff;
    --black: #000;
    --gray: #b3b2b1;
    --gray-200: #dfe3df;
    --margin-bottom: 20px;
}
/*--------------- Generales -----------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
body {
    background-color: var(--light-gray);
}
/*------------ Header/Skip navigation ------------ */
.header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}
.sr-only{
    clip: rect(1px, 1px, 1px, 1px);    
    height: 1px;
    overflow: hidden; 
    position: absolute !important;
    top: 0;       
    white-space: nowrap;
    width: 1px;
}
.sr-only:focus{
    background-color: var(--blue);
    color: var(--white);
    clip: auto;
    height: auto;
    padding: 5px;
    width: auto;
}
/*--------------- Menu Hamburguesa -----------------*/
.btn-menu {
    display: none;
}
/*--------------- Menu Desktop -----------------*/
.navbar{
    align-items: center;
    background-color: var(--blue);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
    margin-bottom: var(--margin-bottom);
}
.logo{
    flex-grow: 1;
}
.list{
    display: flex;
    flex-grow: 0.25;
    flex-wrap: wrap;
    font-size: 1.2em;
    justify-content: space-around;
    list-style: none;
}
.list-item, .item-submenu{
    flex-grow: 1;
    text-align: center;
}
.list-item-link, .item-submenu-link{
    color: var(--white);
    display: block;
    padding: 5px 0;
    text-decoration: none;
}
.list-item-link:hover, .item-submenu-link:hover{
    color: var(--yellow);
}
/*--------------- Container -----------------*/
.container{
    max-width: 100%;
}
/* ------------- Submenu Turno -----------------*/
.submenu-desplegable{
    display: none;
}
#submenu{
    display: none;
}
#submenu:checked + .submenu-desplegable{
    display: block;
    position: absolute;
    background-color: var(--blue);
    width: 150px;
    list-style: none;
    z-index: 2;
}
.item-submenu:hover{
    background-color: var(--gray);
}
.item-turno::after{
    content: "\25BC";
    margin: auto 5px;
    font-size: 12px;
}
/* ------------------------------------------ Slider img ----------------- */
.swiper-container {
    width: 100%;
    height: 90vh;
    overflow: auto;  
    
  }
  .swiper-pagination{
    margin: auto;
  }
  .swiper-slide{
      text-align: center;
  }
/*---------------- Contacto ----------------------------------------------*/
.contact{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.map{
    width: 50%;
}
.info-contact{
    background-image: url('../img/Logo-LYF1.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-color: var(--gray-200);
    background-position: right bottom;
    padding: 10px;
    width: 45%;
}
.list-contact{
    list-style: none;
}
.item-contact {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
/* --------------- Login -----------------*/
.card{
    background-color: var(--white);
    border-radius: 15px;
    margin: auto;
    width: 25em;
}
.card-title{
    text-align: center;
    padding-top: 40px;
}
.form-inicio{
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: auto;    
}
.form-label{
    margin: 10px 0;
}
.form-control{
    background: #e6e6e6;
    border-radius: 20px;
    border: none;
    padding: 10px 5px;
    margin-bottom: var(--margin-bottom);    
}
.btn-inicio{
    background-color: var(--blue);
    border-radius: 20px;
    border: none;
    color: var(--white);
    font-size: 0.9em;
    font-weight: bold;
    padding: 10px 5px;
    text-transform: uppercase;
}
.btn-inicio:hover{
    background-color: var(--gray);
    color: var(--black);
}
/* --------------- detalleTurno Provisorio -----------------*/
.db{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 20px;
}
.date-db{
    margin: 10px auto;
}
/*--------------- Footer -----------------*/
.footer{
    background-color: var(--blue);
    display: flex;
    font-size: 1em;
    justify-content: space-around;
    padding: 15px;
}
.text-footer, .dev-link{
    color: var(--white);
}
.dev-link{
    text-decoration: none;
    font-weight: bold;
}
.dev-link:hover{
    color: var(--yellow);
}
/* ------- Fijar footer -----*/
.fixed-bottom{
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}