@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Kalam&display=swap');
/*--------------- Indice -----------------*/
/*
    - Fuente
    - Variables
    - Generales
    - Header/Skip navigation
    - Subtitle
    - Menu Hamburguesa
    - Menu Desktop
    - Container
    - Contact page
    - Login, nuevoTurno, editTurno y eliminarTurno
    - detalleTurno
    - Ganancias
    - Table
    - Calendario
    - Pagination
    - Footer
    - Media Query
    - 1023
    - 767
    - 400
    - 375
*/
/*--------------- Fuente -----------------*/
/*--------------- Variables -----------------*/
:root{
    --blue: #2364aa;
    --light-gray: #e1e5f2;
    --yellow: #f9fa5f;
    --white: #fff;
    --black: #000;
    --gray: #b3b2b1;
    --gray-200: #dfe3df;
    --margin-bottom: 20px;
}
/*--------------- Generales -----------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
body {
    background-color: var(--light-gray);
    font-family: "Kalam", "Architects Daughter", Arial, Helvetica, sans-serif;
}
/*------------ Header/Skip navigation ------------ */
.header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}
.sr-only{
    clip: rect(1px, 1px, 1px, 1px);    
    height: 1px;
    overflow: hidden; 
    position: absolute !important;
    top: 0;       
    white-space: nowrap;
    width: 1px;
}
.sr-only:focus{
    background-color: var(--blue);
    color: var(--white);
    clip: auto;
    height: auto;
    padding: 5px;
    width: auto;
}
/*--------------------------------------------- Subtitle ----------------------------------------------------*/
.header-subtitle{
    background-color: transparent;
    padding: 10px 0;
}
.subtitle-list{
    list-style: none;
    display: flex;
    text-align: center;
    align-items: center;
}
.subtitle-item{
    flex-grow: 1;
}
.subtitle-item-link{
    text-decoration: none;
    margin-right: 20px;
    color: var(--blue);
}
/*--------------- Menu Hamburguesa -----------------*/
.btn-menu {
    display: none;
}
/*--------------- Menu Desktop -----------------*/
.navbar{
    align-items: center;
    background-color: var(--blue);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
    margin-bottom: var(--margin-bottom);
}
.logo{
    flex-grow: 1;
}
.list{
    display: flex;
    flex-grow: 0.25;
    flex-wrap: wrap;
    font-size: 1.2em;
    justify-content: space-around;
    list-style: none;
}
.list-item, .item-submenu{
    flex-grow: 1;
    text-align: center;
}
.list-item-link, .item-submenu-link{
    color: var(--white);
    display: block;
    padding: 5px 0;
    text-decoration: none;
}
.list-item-link:hover, .item-submenu-link:hover{
    color: var(--yellow);
}
/* ------ List-Balance ----- ------*/
.list-balance {
    font-size: 1.4em;
    margin: 10px auto;
}
/*--------------- Container -----------------*/
.container{
    max-width: 100%;
}
/* ------------- Submenu Turno -----------------*/
.submenu-desplegable{
    display: none;
}
#submenu, #submenu1{
    display: none;
}
#submenu:checked + .submenu-desplegable, #submenu1:checked + .submenu-desplegable{
    display: block;
    position: absolute;
    background-color: var(--blue);
    width: 150px;
    list-style: none;
    z-index: 2;
}
.item-submenu:hover{
    background-color: var(--gray);
}
.item-turno::after{
    content: "\25BC";
    margin: auto 5px;
    font-size: 12px;
}
/* ------------------------------------------ Slider img ----------------- */
.swiper-container {
    width: 100%;
    height: 90vh;
    overflow: auto;  
    
}
.swiper-pagination{
    margin: auto;
}
.swiper-slide{
      color: var(--black);      
      text-align: center;
}
.portUno, .portDos, .portTres, .portCuatro{
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
}
.card-text{
    padding: 40px;
}
.text-black{
    color: var(--black);
    width: 80%;
}
.subtitle-slider{
    text-align: justify;
}
.portUno{
    align-items: flex-start;
    background-image: url('/static/img/portadaUno.png');
}
.portDos{
    background-image: url('/static/img/portadaDos.png');
}
.portTres{
    background-image: url('/static/img/portadaTres.png');
}
.portCuatro{
    background-image: url('/static/img/portadaCuatro.png');
}
/*---------------- Contacto ----------------------------------------------*/
.contact{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: var(--margin-bottom);
}
.map{
    width: 50%;
}
.info-contact{
    background-image: url('../img/Logo-LYF1.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-color: var(--white);
    background-position: right bottom;
    padding: 10px;
    width: 45%;
}
.list-contact{
    list-style: none;
}
.item-contact {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.item-contact-link {
    text-decoration: none;
    color: var(--black);
}
.item-contact-link:hover{
    color: var(--blue);
}
/* --------------- Login -----------------*/
.hide{
    display: none;
}
.icon-pass{
    cursor: pointer;
    position: absolute;
    margin: auto 10px;
}
.card{
    background-color: var(--white);
    border-radius: 15px;
    margin: auto;
    margin-bottom: var(--margin-bottom);
    width: 25em;
}
.card-title{
    text-align: center;
    padding-top: 40px;
}
.form-inicio{
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: auto;    
}
.form-label{
    margin: 10px 0;
}
.form-control{
    background: #e6e6e6;
    border-radius: 20px;
    border: none;
    padding: 10px 5px;
    margin-bottom: var(--margin-bottom);    
}
.form-control-login {
    background: #e6e6e6;
    border-radius: 20px;
    border: none;
    display: block;
    padding: 10px 5px;
    margin-bottom: var(--margin-bottom);
    width: 100%;
}
.form-group-12{
    width: 100%;
}
.btn-inicio{
    background-color: var(--blue);
    border-radius: 20px;
    border: none;
    color: var(--white);
    font-size: 0.9em;
    font-weight: bold;
    padding: 10px 5px;
    text-transform: uppercase;
}
.btn-inicio:hover{
    background-color: var(--gray);
    color: var(--black);
}
/*------------- Calendario ----------------------------*/
.card-calendar{
    background-color: var(--white);
    border-radius: 15px;
    margin: auto;
    margin-bottom: var(--margin-bottom);
    width: 51em;
}
#calendar{
    height: 25em;
}
/*------------- Ganancias ----------------------------*/
.d-flex{
    display: flex;
    align-items: center;
  }
  .img-arrow {
    width: 1.4em;
    margin: auto 20px;
  }
  .balance {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  /*----------------------------------------------------------------- Table ----------------------------------------------*/
table{
    margin: 10px auto;
    text-align: center;
    width: 75em;
}
thead {
    background-color: var(--blue);
    color: var(--white);
}
tbody:nth-of-type(2n+1) {
    background-color: var(--white);
}
th, td{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 5px;
}
/* --------------- detalleTurno -----------------*/
.db{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 20px;
    align-items: center;
}
.db:nth-child(2n+1){
    background-color: var(--white);
}
.date-db{
    margin: 10px 20px;
    width: 100%;
}
.show-btn {
    display: none;
}
.btn {
    padding: 5px 10px;
    text-decoration: none;
    color: var(--black);
    border-radius: 8px;
}
.btn-delete {
    background-color: red;
    color: var(--black);
}
.btn-delete:hover{
    color: var(--white);
}
.btn-edit{
    background-color: green;
    color: var(--white);
}
.btn-default {
    border: 1px solid;
}
.btn-default:hover {
    background-color: var(--blue);
    color: var(--white);
}
/*-------------- Pagination -----------------------------*/
.pagination{
    display: flex;
    gap: 10px;
    justify-content: center;
    list-style: none;
    margin-bottom: var(--margin-bottom);
}
.pagination-item-link{
    color: var(--black);
    font-size: 1.2em;
    text-decoration: none;
}
.btn-pagination{
    background-color: var(--blue);
    color: var(--white);
}
/*--------------- Text-color----------------------------- */
.text-success {
    color: green;
}
.text-warning {
    color: red;
}
.text-white {
    color: var(--white);
}
/*--------------- Footer -----------------*/
.footer{
    background-color: var(--blue);
    display: flex;
    flex-wrap: wrap; 
    font-size: 1em;
    justify-content: space-around;
    padding: 15px;
}
.text-footer, .dev-link{
    color: var(--white);
}
.dev-link{
    text-decoration: none;
    font-weight: bold;
}
.dev-link:hover{
    color: var(--yellow);
}
/* ---------------------------------------------------------------- Margin y padding -----*/
.p-1 {
    padding: 10px;
}
.my-1 {
    margin: 10px auto;
}
.py-1 {
    padding: 10px 0;
}
.gap-1 {
    gap: 5px;
}
.text-center {
    text-align: center;
}
/* ------- Fijar footer -----*/
/*
.fixed-bottom{
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}
*/
/* ----------------------------------------- Fin de footer --------------------------------------------*/
/* ---------------------------------------- Media queries --------------------- */
@media (max-width: 1023px){
    /* ------ Skip-navigation -------*/
    .header{
        display: none;
    }
    /*------ Menu  -------*/
    .logo{
        text-align: center;
    }
    /*------- Calendario ---------*/
    .card-calendar{
        padding: 5px;
        width: 100%;
    }
    #calendar{
        height: 28em;
    }
    /*---------------- Contacto ----------------------------------------------*/
    .contact{
        margin: 0 5px;
        margin-bottom: var(--margin-bottom);    
    }
    /* ------- eliminarTurno ---------*/
    .mb{
        margin-bottom: var(--margin-bottom);
    }
    /*-------------- Pagination -----------------------------*/
    .pagination{
        margin-bottom: var(--margin-bottom);
    }
}
@media (max-width: 767px){
    .btn-menu{
        display: block;
        background-color: var(--blue);
        border: none;
        width: 100%;
        text-align: left;
    }
    .burger-menu{
        background-image: url(../img/menu-black.png);
        display: inline-block;
        width: 2.5em;
        height: 2.5em;
        margin: 5px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
    }
    .navbar{
        display: none;
    }
    .desplegar{
        display: block;
    }
    .list-item, .item-submenu {
        padding: 5px;
        width: 100%;
    }
    #submenu:checked + .submenu-desplegable {
        left: 0;
        position: relative;
        width: 100%;
    }
    #submenu1:checked + .submenu-desplegable {
        left: 0;
        position: relative;
        width: 100%;
    }
    /*----------- Calendario -------------*/
    .fc-toolbar {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
     /*---------------- Contacto ----------------------------------------------*/
    .contact{
        justify-content: space-evenly;
    }
    .map, .info-contact{
        min-width: 21em;    
    }
    /*----------- detalleTurno -----------*/
    .hide-field{               
    display: none;
    }
    .show-btn{
        display: block;
    }
    .db{
        gap: 0;
    }
    /* ----------- Ganancias --------*/
    table {
        width: 100%;
    }
    /* -------- Modal --------------------------------*/
    .modal{
        position: fixed;
        z-index: 1060;
        display: none;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        outline: 0;
        top: 0;
    }
    .fade {
        transition: opacity .15s linear;
    }
    .modal-dialog {
        position: relative;
        width: auto;
        margin: .5rem;
        pointer-events: none;
    }
    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: .3rem;
        outline: 0;
    }
    .modal-header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1rem;
        border-bottom: 1px solid #dee2e6;
        border-top-left-radius: calc(.3rem - 1px);
        border-top-right-radius: calc(.3rem - 1px);
    }
    .modal-body {
        position: relative;
        flex: 1 1 auto;
        padding: 1rem;
    }
    .close {
        background-color: var(--white);
        border-radius: 100%;
        padding: 4px;
        border: 1px solid;
    }
    /* ---------------------------------------------------------------- Margin y padding -----*/
    .p-1 {
        padding: 10px;
    }
    .my-1 {
        margin: 10px auto;
    }
    .py-1 {
        padding: 10px 0;
    }
    .text-center {
        text-align: center;
    }
    /*-------- Footer ------------*/
    .footer{
        gap: 20px;
    }
    .fixed-bottom{
        bottom: 0;
        left: 0;
        position: fixed;
        width: 100%;
    }
}
@media (max-width: 375px){
    /*------ Contacto ------*/
    .map, .info-contact{
        display: block;
        min-width: 100%;
    }
    /*------ Login ------*/
    .card{
        width: 100%;
    }
    /*------ detalleTurno ------*/
    .db{
        min-width: 100%;
    }

}