{% extends 'base.html' %}
{% load static %}
{% block body %}
<main class="container">
    {% for turno in turnos %}
    <ul class="db">
        <li class="date-db">{{ turno.id }}</li>
        <li class="date-db">{{ turno.nombre }}</li>
        <li class="date-db">{{ turno.tipoCancha }}</li>
        <li class="date-db">{{ turno.fecha }}</li>
        <li class="date-db">{{ turno.turnoDadoPor }}</li>
        <li class="date-db">{{ turno.montoRecaudado }}</li>
        {% if perms.turnos.change_turnos %}
        <li class="date-db"><a href="{% url 'editarTurno'  turno.id %}">Editar</a></li>
        <li class="date-db"><a href="{% url 'eliminarTurno'  turno.id %}">Eliminar</a></li>
        {% endif %}
    </ul>
    {% endfor %}
</main>
{% endblock  %}