{% extends 'base.html' %}
{% load static %}
{% block body %}
<main class="container mb">
    <form method = "POST">
        {% csrf_token %}
        <h3>¿Desea eliminar el pedido de {{ turno.nombre }}, {{ turno.fecha }}?</h3>
        <button class= "btn btn-delete" type= "submit">Si, eliminar</button>
        <a href="{% url 'detalleTurno' %}" class="btn btn-default">Cancelar</a>
    </form>
</main>
{% endblock  %}
{% block js %}
<script src="{% static 'js/fixedFooter.js' %}"></script>
{% endblock  %}