{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.css">
{% endblock  %}
{% block body %}
<main class="container" id="content">
    <div class="card-calendar">
        <div id="calendar" class="my-4"></div>
    </div>
</main>
{% endblock  %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      height: 550,
      nowIndicator: true,
      locale: 'es',
      initialView: 'dayGridMonth',
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      buttonText: {
        today: 'Turnos',
        month: 'Mes',
        week: 'Semana',
        day: 'Dia',
      },
      events: [
          {% for i in events %}
            {% if i.tipoCancha == 'Polideportivo' %}
            {
              title: '{{ i.tipoCancha }} - {{ i.nombre }} - {{ i.observaciones }}',
              start: '{{ i.fechaInicio|date:"Y-m-d H:i" }}',
              end: '{{ i.fechaFin|date:"Y-m-d H:i" }}',
              color: 'green',
          },
            {% else %}         
            {
                title: '{{ i.tipoCancha }} {{ i.nombre }}',
                start: '{{ i.fechaInicio|date:"Y-m-d H:i" }}',
                end: '{{ i.fechaFin|date:"Y-m-d H:i" }}'
            },
            {% endif %} 
          {% endfor %}
      ]
    });
    calendar.render();
  });
</script>
{% endblock  %}



