{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
{% endblock  %}
{% block body %}
<main class="container" id="content">
    <!-- Slider main container -->
    <div class="swiper-container verticle-animation" id="swiperCont">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <h1>¿Quienes somos?</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi harum perspiciatis cupiditate ab facere dolores tempore eius velit maiores pariatur commodi aliquam, excepturi alias tempora quae. Magnam veritatis consequatur nobis!</p>
            </div>
            <div class="swiper-slide">
                <h1>¿Que hacemos?</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus commodi aspernatur autem quis veritatis, eligendi mollitia animi ratione consectetur illum voluptatem repellendus veniam! Quaerat molestiae obcaecati voluptatum quam voluptatem vitae.</p>
            </div>
            <div class="swiper-slide">
                <!-- <img src="{ static 'img/insSeccional.png'}" alt=""> -->
                <h1>Nuestras instalaciones</h1>
                <h2>Oficina</h2>
            </div>
            <div class="swiper-slide">
                <h2>Polideportivo</h2>
            </div>
            ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    </div>
</main>
{% endblock  %}
{% block js %}
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        let slider = document.querySelector("#swiperCont");
        const swiper = new Swiper(slider, {
        // Optional parameters
        speed: 800,
        direction: "vertical",
        slidesPerView: 1,
        spaceBetween: 30,
        mousewheel: true,
        parallax:true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        keyboard: {
            enabled: true,
            onlyInViewport: false,
        },
        });
    </script>
{% endblock  %}