{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
{% endblock  %}
{% block body %}
<main class="container" id="content">
    <!-- Slider main container -->
    <div class="swiper-container verticle-animation" id="swiperCont">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <div class="portUno">
                    <div class="card-text text-black">
                        <h1>Sobre nosotros</h1>
                        <h2 class="subtitle-slider">Luz y Fuerza Mercedes es una organizacion social de 
                        naturaleza gremial, cuya primera razon de ser se basa 
                        en los lazos de solidaridad laboral de sus afiliados 
                        en defensa de intereses comunes.</h2>
                    </div>
                </div>                
            </div>
            <div class="swiper-slide">                   
                <div class="portDos">
                    <div class="card-text">
                        <h1>Nuestras instalaciones</h1>
                        <h2>Seccional</h2>
                    </div>
                </div> 
            </div>
            <div class="swiper-slide">    
                <div class="portTres">
                    <div class="card-text">
                        <h2>Polideportivo</h2>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">  
                <div class="portCuatro">
                </div>
            </div>
            ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    </div>
</main>
{% endblock  %}
{% block js %}
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        let slider = document.querySelector("#swiperCont");
        const swiper = new Swiper(slider, {
        // Optional parameters
        speed: 800,
        direction: "vertical",
        slidesPerView: 1,
        spaceBetween: 30,
        mousewheel: true,
        parallax:true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        keyboard: {
            enabled: true,
            onlyInViewport: false,
        },
        });
        //const foo = document.querySelector('#footer');
        //foo.classList.remove('fixed-bottom');
    </script>
{% endblock  %}