<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css %}
    {% endblock  %}
    <title>Luz y Fuerza Laboulaye</title>
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" >
</head>
<body>
    {% block header %}
    <header class="header">
        <div class="skip">
            <a href="#nav" class="sr-only">Skip to navigation</a>
            <a href="#content" class="sr-only">Skip to content</a>
            <a href="#footer" class="sr-only">Skip to footer</a>
        </div>
        <div id="appW" class="wheatherNow">            
        </div>
    </header> <!-- Cierra el header -->
    {% endblock  %}
    {% block nav %}
    <button class="btn-menu" type="submit" id="menubtn">
        <span class="burger-menu"></span>
    </button> <!-- Cierra el btn -->
    <nav class="navbar" id="nav">
        <div class="logo">
            <img class="img-logo" src="{% static 'img/logoNavWhite.png' %}" alt="Logo institucional">
        </div>
        <ul class="list">
            {% if user.is_authenticated %}
            <li class="list-item"><a href="#" class="list-item-link">Bienvenido, {{ user.username}}</a></li>
            {% endif %}
            <li class="list-item"><a href="{% url 'index' %}" class="list-item-link">Inicio</a></li>
            <li class="list-item"><a href="{% url 'calendario' %}" class="list-item-link">Calendario</a></li>
            <li class="list-item"><a href="{% url 'contacto' %}" class="list-item-link">Contacto</a></li>
            {% if user.username == 'admin' or user.username == 'Lorenzo' %}
            <li class="list-item"><a href="" class="list-item-link"><label class="item-turno" for="submenu">Ganancias</label></a>  
                <input type="checkbox" id="submenu">
                <ul class="submenu-desplegable">
                    <li class="item-submenu"><a class="item-submenu-link" href="{% url 'nuevoGasto' %}">Agregar gasto</a></li>
                    <li class="item-submenu"><a class="item-submenu-link" href="{% url 'detalleGasto' %}">Ver gastos</a></li>
                    <li class="item-submenu"><a class="item-submenu-link" href="{% url 'ganancias' %}">Ver ganancias</a></li>
                </ul>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="list-item"><a href="" class="list-item-link"><label class="item-turno" for="submenu1">Turno</label></a>  
                <input type="checkbox" id="submenu1">
                <ul class="submenu-desplegable">
                    <li class="item-submenu"><a class="item-submenu-link" href="{% url 'nuevoTurno' %}">Agendar turno</a></li>
                    <li class="item-submenu"><a class="item-submenu-link" href="{% url 'detalleTurno' %}">Ver turnos</a></li>
                </ul>
            </li>
            <li class="list-item"><a href="{% url 'logout' %}" class="list-item-link">Cerrar sesion</a></li>
            {% else %}
            <li class="list-item"><a href="{% url 'login' %}" class="list-item-link">Ingresar</a></li>
            {% endif %}   
        </ul>
    </nav>  <!-- Cierra el nav -->
    {% endblock  %}
    {% block body %}
    
    {% endblock  %}
    {% block footer %}
    <footer class="container" id="footer">
        <div class="footer">
            <div class="derechos">
                <p class="text-footer">Derechos reservados 2021 &copy</p>
            </div>
            <div class="dev">
                <p class="text-footer">Diseñado por <a class="dev-link" href="https://fg-portfolio.netlify.app/">FG-FullStack</a></p>
            </div>
        </div>
    </footer>
    {% endblock  %}
    <script src="{% static 'js/effects.js' %}"></script>
    {% block js %}
    {% endblock  %}
</body>
</html>